<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p3l.ajr_190710057">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ajr"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ajr_190710057">
        <activity
            android:name=".RiwayatDriverActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileDriverActivity"
            android:exported="true" />
        <activity
            android:name=".RiwayatCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".PromoActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MobilActivity"
            android:exported="true" />
    </application>

</manifest>